html{
	scroll-behavior: smooth;
}
body{
	margin-top: -25px;
}

/* GTranslate */
.global-nav-list>li {
    float: left;
    position: relative;
}
.global-nav-list>li>ul.sub-menu {
    width: max-content;
    margin: auto;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}
.global-nav-list>li:before {
    display: none;
}
.device-pc .global-nav-list>li.menu-item-has-children:hover::after, .global-nav-list>li.acc-parent-open::after{
	bottom: 0;
}


/* 一時的に要素を消したいとき */
.hidden-block{
	display: none;
}
/* ヘッダーを固定追従させる */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* サイドボタン */
#slideR,#slideR2 {
  z-index: 99;
  cursor: pointer;
  position: fixed;
  top: 40%;
  right: -140px;
  background: #164f91;
  width: 200px;
  color: #fff;
  font-size: 16px;
  border-radius: 20px 0 0 20px;
}
#slideR .nav-icon,#slideR2 .nav-icon {
    position: absolute;
    left: 10px;
    top: 40%;
    font-size: 20px;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.fa-heart-o:before {
	content: "";
    position: absolute;
    top: 5px;
    left: 15px;
    width: 12px;
    height: 12px;
    border-bottom: 3px solid;
    border-right: 3px solid;
    transform: rotate(135deg);
}
#slideR div{
    position: relative;
    padding: 10px 10px 10px 60px;
	margin: 0;
}
#slideR > div > li,#slideR2 > div > li {
	margin: 10px 0;
}
#slideR > div > li > a{
    color: #fff;
}

#slideR2 {
    top: 31%;
    width: fit-content;
}
#slideR2:hover{
	background: #164f91;
}
#slideR2:hover > div > li > a > span{
	color: #fff !important;
}
#slideR2 div{
	padding-left: 10px;
}
#slideR2 > div > li > a{
	text-decoration: none;
}
#slideR > div > li > a:hover,#slideR2 > div > li > a:hover {
    color: #ddd;
}
#slideR li,#slideR2 li{
	list-style: none;
}
#slideR2 > div > li > a > span {
    color: #fff;
}






img.sdgs-image {
    margin-right: 10px;
	animation: rotate-anime 10s linear infinite;	
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}



.sidebar-toggle i {
  font-size: 20px;
  color: #333;
}

.sidebar-toggle.open {
  right: 0;
}

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -250px;
  width: 250px;
  padding: 20px;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}
.sidebar-content.open {
  left: 0;
}


.site-footer {
    display: none;
}
.container {
    max-width: 100%;
    margin: auto;
    padding: 0;
}
#site-header-container {
    width: 85%;
    margin: auto;
	font-family: "Yu Mincho";
}
.site-header-logo a {
    display: block;
    width: fit-content;
}
.site-body{
	padding-top: 0;
}
.entry-body {
    width: 80%;
    margin: auto;
}
.breadcrumb{
	display: none;
}
/*
.page-header{
	margin-bottom: 15vh;
}*/

h2,h3,h3:after{
	border: none;
}
.vk_posts,.entry-footer{
	display:none;
}
.news-list,.service-list,.about-list{
    width: 90%;
    margin: auto;
}
.mov {
    margin-bottom: 7vh;
    overflow: hidden;
    max-height: 785px;
}
.mov video {
    width: 100%;
    padding: 0;
    margin: 0;
}
.site-header-logo img {
    margin-left: 0;
}
.mov {
    margin-bottom: 7vh;
}


/* フェードアニメーション */
.fadein-top{
 opacity: 0;
 transform: translateY(-20px);
 transition: all 1.3s 0s ease-out;
}
.fadein-top.anime2{
 transition: all 1.3s .4s ease-out;
}
.fadein-top.img-box{
 transform: translateY(60px);
 transition: all 1.3s .7s ease-out;
}

.fadein-right{
 opacity: 0;
 transform: translateX(40px);
 transition: all 1.5s 0s ease-out;
}
.fadein-right.anime2{
 transition: all 1.5s .4s ease-out;
}
.fadein-right.anime3{
 transition: all 1.5s .7s ease-out;
}

/* テキスト PC */
.title-box h2,.title-box h3,.title-box p{
	text-align: center;
}
.title-box h2 {
    color: #18467C;
    font-size: 3.5em;
    font-weight: bold;
	width: fit-content;
	margin: auto;
    position: relative;
    z-index: 1;
}
.title-box h2:before {
    content: "";
    background: #7DB6D6;
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 55%;
	left: -5px;
    z-index: -1;
}


/* flex-box PC */
.flex-box{
	display: flex !important;
	justify-content: center;
}

/* お知らせ PC */
.news-block{
	margin-bottom: 20vh;
}
.news-card {
    margin-left: 10px;
}
.news-card a{
	color: #2D2D2D;
	text-decoration: none;
}
.news-card a:hover{
	color: #18467C;
}
.card-category {
    color: #fff;
    height: 30px;
    width: fit-content;
    background: #18467C;
    padding: 5px 17px;
}
/*.news-card__thumbnail img {
    width: 100%;
    object-fit: cover;
}*/
.news-card__content {
    background: #fff;
    height: 350px;
    padding: 10px 25px;
}
h2.news-card__title {
    font-size: 1.1em;
    width: 90%;
    margin: 0;
}
.slider-news .slick-dots{
    bottom: -30px;
    display: flex;
    justify-content: center;
}
.slider-news .slick-dots li{
  width: calc(15% / 5 - 5px);
    height: 5px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: #C9C9C9;
    overflow: hidden;
}
.slider-news .slick-dots li:not(:last-child){
  margin-right:10px;
}
.slider-news .slick-dots li.slick-active button:before {
    opacity: 1;
    background: #18467C;
    width: 100%;
}

/* ストライプ柄のテーブルデザイン */
.gray-stripe thead {
    background: #A6A6A6;
    color: #fff;
}
.gray-stripe tbody tr:nth-child(even){
    background-color: #f0f0f0;
}
.gray-stripe tbody td,.gray-stripe th {
    border: none;
    padding: 15px 20px;
    font-weight: 500;
	max-width: 1px;
}
/* 紺色の背景ライン PC */
.headline {
  position: relative;
  z-index: 1;
}

.headline:after {
  content: '';
  position: absolute;
  left: 0;
  top: 17.5%;
  width: 0%;
  height: 65%;
  background: #18467C;
  transition: all 0.5s;
  z-index: -1;
}

.headline.isActive:after {
  width: 100%;
}
.about-block.headline:after {
	background: url(/new/wp-content/uploads/blue1.png);
    height: 100% !important;
    top: 15% !important;
}
.news-block.headline:after{
	background: #FAFAFA;
	height: 120% !important;
	top: -15px !important;
}
.about-list,.service-list,.worls-list,.news-list{
	z-index: 999;
}

/* ボタン */
.btn-area a{
	position: relative;
}
.btn-area a:after {
    content: "";
    display: block;
    position: absolute;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
    width: 13px;
    height: 13px;
    top: 15px;
    right: 20px;
}
.btn-area a:hover:after{
	border-right: 2px solid #000;
	border-top: 2px solid #000;
}
.btn {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #555;
    padding: 10px 30px;
    text-align: center;
    outline: none;
    transition: ease .2s;
	border-radius: 40px;
}
a.btn {
  color: #fff;
  border: 	2px solid #000;
  background: #000;
}

a.btn:hover {
  color: #000;
  background: #fff;
}
.btn-area.service{
	position: absolute;
	bottom: 25%;
}


/* 子ページヘッダー共通要素 */
.page-head_desc {
    margin: 7vh 0;
}
.page-head_desc p {
    font-size: 1.5em;
    text-align: center;
    width: 80%;
	max-width: 875px;
    margin: auto;
    color: #3a75bb;
    font-family: "Yu Mincho";
    font-weight: 500;
}

/* 事業紹介（service） PC
 * プログレスバーここから
.slider-service .slick-dots{
    bottom: 30px;
    display: flex;
    justify-content: center;
}
.slider-service .slick-dots li{
  width: calc(75% / 5 - 5px);
    height: 5px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: #fff;
    overflow: hidden;
}
.slider-service .slick-dots li:not(:last-child){
  margin-right:10px;
}
.slider-service .slick-dots li.slick-active button::after{
  content: "";
  position:absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #18467C;
  animation: progress 4s linear 0s forwards; /* ここでアニメーションのスピードをスライドの秒数に合わせて調整をする
  z-index:1;
}
@keyframes progress {
  0%{
    width:0;
  }
  100% {
    width:100%;
  }
}
*/

/* 事業紹介 PC */
.service-pc{
	display: block;
}
.service-sp{
	display: none;
}
.service-block {
    margin: 7vh 0 250px;
}
.service_link{
	display: contents;
}
.content_over-flow {
	width: 100%;
    overflow: hidden;
    /*margin: 0 10px;
	border: 1px solid #18467C;*/
	margin: 0;
}
.service_desc {
    width: auto;
    padding: 7vh 2vw 0;
	position: relative;
    /*background: #f9f9f9;*/
	height: 320px;
	text-align: center;
}
.service_desc h2{
	color:#fff;
	font-size: 2.6em;
    letter-spacing: 0.08em;
	margin: 0;
	font-family: 'Oswald';
    font-weight: 500;
}
.service_desc h3{
	font-size: 1em;
    font-weight: 500;
    color: #fff;
}
.service_desc p{
	text-align: left;
	color: #fff;
	margin: 7vh auto 0;
	/* service.php - $service_description の文字数を40→50 */
}
.service-list {
	/*width: 95%;*/
	width: 100%;
	margin: auto;
}
.service-item {
	min-height: 650px;
    /*display: flex;
    align-items: end;*/

}
.service-item:hover {
    transform: scale(1.2,1.2);
    transition: 1s all;
}
.service-item:hover:after {
    content: "MORE";
	position: absolute;
    color: #fff;
    font-family: 'Oswald';
    letter-spacing: 0.35em;
	background: rgba(0,0,0,0.25);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-weight: 400;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.service-img img{
    height: 450px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.content_over-flow:hover > .service-item > .service_desc {
    display: none;
}
/*
.service-item:hover > .dummy_thumbnail img{
	display: none;
}
.dummy_thumbnail img {
    display: block;
	width: 100%;
    height: 450px;
}
*/

/* 施工実績 PC */
.worls-list{
	width: 95%;
	margin: auto;
}
.works-block{
	margin: 150px 0;
}
.works_desc {
    background-color: #fff;
    padding: 50px 4vw 150px;
	border: 1px solid #18467C;
	flex: 1;
}
.flex-box.works-flex{
	flex: 2;
}
.works_desc h2,.works_desc h3,.works_desc p {
    text-align: left;
}
.works-case{
	width: 100%;
    height: 100%;
    overflow: hidden;
}
.works-case:nth-child(odd){
	margin: 0;
	position: relative;
	/* bottom: 100px; */
}
.works-case_back {
    height: 100%;
    width: 100%;
	position: relative;
}
.works-case_back:hover {
    transform: scale(1.2,1.2);
    transition: 1s all;
}
.works-case_back:hover:after{
	content: "MORE";
	color: #fff;
    font-family: 'Oswald';
    letter-spacing: 0.35em;
	background: rgba(0,0,0,0.25);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-weight: 400;
	text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}
.works-text{
    position: relative;
    top: 65%;
    left: 20px;
}
.works-case_back:hover > .works-text {
    display: none;
}
.works-text h3 {
    font-size: 16px;
    width: fit-content;
	padding: 10px;
    background: #18467C;
	color: #fff;
}
.works-text p {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.btn-area.works{
	position: absolute;
	bottom: 10%;
}

/* 会社概要 PC */
.about-block{
	margin: 15vh 0;
}
.sdgs.title-box,.about.title-box{
	padding-left: 7vw;
}
.about-inner_left,.about-inner_right{
	flex: 1;
}
.about-inner_desc.back1{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 2, 0, 0.2)), url(/new/wp-content/uploads/top-greeting-back.jpg);
    height: 450px;
    background-size: cover;
    background-position-y: center;
}
.about-inner_desc.back2,.about-inner_desc.back3{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 2, 0, 0.2)), url(/new/wp-content/uploads/3507699F-372B-47D1-B7EB-679FAE38BF29-L0-001-1.png);
	background-size: cover;
	height: 215px;
}
.about-inner_desc.back3{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 2, 0, 0.2)), url(/new/wp-content/uploads/shikaku.png);
}
.about-inner.text-box {
    color: #fff;
    position: relative;
    top: 20%;
    left: 15%;
}
.about-inner.text-box h3 {
    font-weight: lighter;
    margin-bottom: 0;
    border-bottom: 1px solid;
    width: 50%;
	font-weight: 500;
}
.inner-overflow_l {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    margin: 0 -20px;
}
.inner-overflow_r{
	height: fit-content;
    overflow: hidden;
    margin: 0 0 20px;
}
.about-inner_desc:hover{
	transform: scale(1.2,1.2) !important;
	transition: all 1s;
}



/* SDGs */
.sdgs.title-box h2:before {
    content: url(/new/wp-content/uploads/sdgs-ttile-icon-2.png);
    background: none;
    top: 35%;
    left: -10%;
}
.sdgs-back {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/new/wp-content/uploads/sdgs-back.png);
	background-size: cover;
	padding: 7vh 2vw;
}
.sdgs-list {
	flex: 1;
    margin: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
	background: rgba(255,255,255,0.85);
}
.sdgs-list img{
	width: 80%;
	max-width: 175px;
}
.sdgs-desc {
	flex: 1;
    font-family: "Yu Mincho";
    font-weight: bold;
}
.sdgs-desc h3 {
    font-size: .9em;
    line-height: 1.8;
    margin-left: 15px;
}



/* 固定ページ */
.page-main{
	font-family: serif;
}
.wp-block-preformatted {
    font-family: serif;
    line-height: 1.8;
    letter-spacing: 0.05em;
}
.service-content_list{
	background: #F9F9F9;
    border-radius: 30px;
    width: 80%;
    margin: auto;
    padding: 30px;
	margin: 7vh auto;
    flex-wrap: wrap;
    justify-content: left;
}
.service-card {
    background: #18467C;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.25);
    margin: 5px;
    width: calc(100% - 10px);
    padding: 30px 0;
    text-align: center;
}
.service-card p {
    margin: auto;
	width: fit-content;
    color: #fff;
}
.service-card:hover{
    background: #fff;
	border: 1px solid #18467C;
	transition: all 0.3s;
}
.service-card:hover > p{
	color: #18467C;
}
.service-card:hover > a > p,.service-card p:hover{
	color: #18467C;
}
.service-cta a{
	color: #fff;
	font-weight: 500;
}
.service-cta h3{
    width: fit-content;
    margin: 0 0 7vh auto;
    position: relative;
    display: block;
	color: #fff;
    background: #18467C;
    padding: 5vh 7vw;
    font-size: 1.2em;
}
.service-cta h3:after {
    content: "";
    border-top: 1px solid;
    position: absolute;
    top: 50%;
    right: 0;
    width: 17.5%;
}
.service-cta h3:hover{
	background: #fff;
	border: 1px solid #18467C;
	color: #18467C;
	transition: all 0.35s;
}
.service-cta h3:hover > a{
	color: #18467C;
}



/* お問い合わせフォーム */
.form {
    margin: auto;
    max-width: 900px;
}
.form > .flex-box {
    justify-content: left;
    margin-bottom: 7vh;
}
.form-title {
    flex: 0.5;
    position: relative;
    border-bottom: 2px solid #18467C;
}
.form-input {
    flex: 1;
    border-bottom: 2px solid #CCCCCC;
}
.Form-Item-Label {
    font-weight: 500;
}
.Form-Item-Label-Required {
    background: #FF3D00;
    color: #fff;
    padding: 7px 15px;
    border-radius: 10px;
    margin-right: 15px;
}
.subhead{
    font-size: 1.2em;
    font-weight: 500;
    margin: 12vh 0 5vh;
    border-left: 5px solid #18467C;
    padding-left: 20px;
}
.sending {
    display: flex;
    justify-content: center;
}
.sending > p > input[type=submit] {
    background: #FF3D00;
    border: none;
    padding: 3vh 15vw;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 0;
}


/* フッター */
.footer-block{
	color: #fff;
	font-family: 'Oswald';
}
.footer-cta.flex-box{
	align-items: center;
	font-family: Noto sans JP;
    letter-spacing: 0.1em;
}
.footer-cta-left.flex-box,.footer-cta-right.flex-box{
	align-items: center;
	margin: 0 30px;
}
.footer-menu{
	background: #242424;
}
.footer-block h2 {
    font-size: 3em;
    margin: 0;
    padding-bottom: 0;
    letter-spacing: 0.1em;
}
.footer-block h3 {
    font-weight: lighter;
    letter-spacing: 0.3em;
}

.footer-cta-left_inner.child {
    border-right: 1px solid;
    padding: 0 75px 0 30px;
}
.footer-cta-left_inner p {
    margin: 15px 0 0;
}
.footer-cta-left_inner h4 {
	background: none;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
.footer-cta-right_inner{
	margin: 0 30px;
}
.footer-cta-right_inner.mail{
	color: #18467C;
	font-weight: 500;
    background: #fff;
    padding: 25px 30px;
}
.flex-box.fm {
    padding-top: 7vh;
}
.footer-menu-left {
    flex: 0.5;
}
.fm-grid{
    margin-right: 5vw;
}
.fm-company_desc,.fm-grid p,.fm-grid a{
	color: #bbbbbb;
	letter-spacing: 0.1em;
	font-weight: lighter;
}
.footer-cta-right_inner.mail:hover {
    background: #18467C;
    transition: all 0.2s;
}
.footer-cta-right_inner.mail:hover > a{
	color: #fff !important
}


/* SPここから */
.sp-menu{
	display: none;
	width: 100%;
}
div#vk-mobile-nav-menu-btn {
    display: none;
}
.bye{
	width: 0 !important;
}
.hamburger-menu {
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  background: transparent;
  appearance: none;
  padding: 0;
  cursor: pointer;
  left: 85%;
}
.hamburger-menu__bar {
  display: inline-block;
  width: 44%;
  height: 2px;
  background: #242424;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: .5s;
}
.hamburger-menu__bar:first-child {
  top: 16px;
}
.hamburger-menu__bar:nth-child(2) {
  top: 24px;
}
.hamburger-menu__bar:last-child {
  top: 32px;
}
.hamburger-menu--open .hamburger-menu__bar {
  top: 50%;
}
.hamburger-menu--open .hamburger-menu__bar:first-child {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.hamburger-menu--open .hamburger-menu__bar:last-child {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
  display: none;
}
.navigation {
  display: none;
  background: rgba(42,82,129,0.95);
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 9999;
}
.navigation__list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation__list-item {
  border-bottom: solid 1px #fff;
}
.navigation__list-item:first-child {
  border-top: solid 1px #fff;
}
.navigation__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  display: block;
  padding: 24px 0;
  transition: .5s;
}
.navigation__list-item a, .navigation__list-item p {
    font-family: "Yu Mincho";
	font-weight: 500;
}
.drow-menu{
	display: none;
	color: #fff;
}
.drow-menu a{
	color: #fff;
}
.sp-menu:active > .navigation > .drow-parent > .drow-menu{
	display: block;
}
.drow-parent {
    position: relative;
}
.drow-parent p{
	color: #fff;
    margin: 0;
    padding: 24px 0;
}
.drow-parent:after{
    content: "";
    border: 1px solid #fff;
    width: 23px;
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 999;
    transform: rotate(90deg);
}
.drow-parent:before{
    content: "";
    border: 1px solid #fff;
    width: 23px;
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: 999;
    transform: rotate(0deg);	
}

@media (hover: hover) and (pointer: fine) {
  .navigation__link:hover {
    background: #333;
  }
}
@media screen and (max-width: 991px){
	#site-header-container{
		display: none;
	}
	.sp-menu{
		display: block;
	}
	.site-header{
		display: flex;
	}
	.mov{
		margin-top: 10vh;
	}
}

/* serviceここから */
@media screen and (max-width: 990px){
	.page-header{
		background-size: contain !important;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #436b99;
		height: 275px;
	}
	.works_desc{
		flex: 0.5;
	}
	.works-case_back{
		width: auto;
	}
	.footer-cta.flex-box{
		flex-direction: column;
	}
	.footer-cta-left.flex-box, .footer-cta-right.flex-box{
		margin: 15px 0;
	}
	.footer-cta-left_inner.child{
		border:none;
	}
}
@media screen and (max-width: 800px){
	.service-list.flex-box {
		flex-wrap: wrap;
	}
	.content_over-flow {
		width: 45%;
		margin: 10px;
	}
	.works-item.flex-box {
		flex-direction: column;
	}
	.works_desc{
		padding: 50px 4vw;
	}
	.works-text h3 {
		font-weight: 500;
		font-size: 1em;
		line-height: 1.5;
	}
	.works-case,.works-case:nth-child(odd){
		margin: 0;
	}
	.works-case_back{
		position: relative;
	}
	.works-case_back:after {
		content: "";
		background: linear-gradient(1.06deg, rgba(0, 0, 0, 0.9) 8.2%, rgba(0, 0, 0, 0) 99.17%);
		width: 100%;
		height: 100%;
		display: block;
	}
	.works-case:nth-child(odd){
		position: inherit;
	}
	.btn-area.works {
		position: relative;
		top: 20px;
	}
	.works-case_back{
		height: 300px;
	}
	.works-text {
		top: 55%;
	}
	.sdgs-back > .flex-box {
		flex-direction: column;
	}
	
	/* お問い合わせSP */
	.flex-box.cta {
		flex-direction: column;
		width: 80%;
		margin: auto;
	}
	.cta-pres, .cta-direct{
		margin: 10px 0;
	}
	.anime-btn{
		margin: 10px auto !important;
	}
	.flex-box.cta-mail {
		flex-direction: column;
	}
}
@media screen and (max-width: 1200px){
	.sdgs-back.flex-box {
		flex-direction: column;
	}
}
@media screen and (max-width: 650px){
	.title-box p{
    	width: 80%;
    	margin: auto;
	}
	.works_desc.title-box p,.sdgs.title-box p{
		margin: auto 0;
	}
	.service-pc{
		display: none;
	}
	.service-sp{
		display: block;
	}
	.service-item:hover {
		position: relative;
	}
	.service-item:hover:after {
		position: absolute;
	}
	.content_over-flow:hover > .service_link > .service-item > .service_desc {
		display: none;
	}
	.slick-dots{
		display:none !important;
	}
	.flex-box.about-list {
    	flex-direction: column;
	}
	.about-inner_desc.back1{
		height: 215px;
	    margin: 20px 0;
	}
	.news-card__content{
		height: 250px;
	}
	/* お問い合わせSP 650px */
	.Form-Item-Label-Required {
		background: #FF3D00;
		color: #fff;
		padding: 3px 9px;
		border-radius: 5px;
		margin-right: 10px;
	}
	/* フッターSP 650px */
	.footer-cta-left.flex-box, .footer-cta-right.flex-box{
		flex-direction: column;
	}
	.flex-box.fm {
    	flex-direction: column;
	}
	.footer-menu-left{
		margin:0 auto 5vh;
	}
	.footer-cta-left_inner.child{
		border: none;
		color: #18467C;
		font-weight: 500;
		background: #fff;
		padding: 25px 30px;
	}
	.footer-cta-left_inner p {
    	margin: 0;
	}
	.footer-cta-left_inner a {
    color: #18467C !important;
	}
	.footer-cta-right_inner,.footer-cta-left_inner{
		margin: 15px 0 5px;
	}
}
@media screen and (max-width: 480px){
	.footer-menu-right_inner.flex-box {
		flex-direction: column;
		text-align: center;
	}
}


